@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(166, 231, 231);
}

header {
  background-color: #5d94a5;
  text-align: center;
  padding: 20px 0;
}
legend{
  background: rgb(136, 236, 234);
  color: rgb(58, 41, 41);
  cursor: pointer;
  border-radius: 20px;
  padding: 10;
text-align: center;
  align-items: center;
  align-content: center;
}
nav {
  background-color: #9043c4;
  color: rgb(32, 29, 29);
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  text-align: center;
  margin: 20px;
}

.product img {
  width: 200px;
}

footer {
  background-color: #9043c4;
  color: rgb(179, 212, 218);
  text-align: center;
  padding: 20px 0;
}

@media (max-width:480px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(35, 249, 245) 0%, #4ef0ff 100%);
    font-family: 'Courgette', cursive;
  }

  .product img {
    border-radius: 40px;
    width: 150px;
  }
  footer {
    background-color: #9043c4;
    color: rgb(179, 212, 218);
    text-align: center;
    padding: 20px 0;
  }

}